@import '../../../styles/globals.scss';

.contact {

    .contact__text p {
        opacity: 1;
    }

    h3 a {
        @include gradient-font();
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2rem 0;
        gap: 1rem;
        
        button {
            flex-shrink: 0;
        }
    }
}
