@import '../../../styles/globals.scss';

.section-container {
    min-height: 100dvh;
    overflow: hidden;

    .section-underline {
        display: block;
        width: 20rem;
        height: 1px;
        @include primary-gradient;
        margin: 1rem auto 0;
    }

    .section-content {
        @include desktopTablet();
        margin: 0 auto;
        padding: 2rem 1rem;

        @media (min-width: 1200px) {
            padding: 4rem 2rem;
        }

        h2 {
            opacity: 0;
        }

        p {
            opacity: 0;
            @media (min-width: 1200px) {
                font-size: $font-size-lg;
                margin: 1rem 0 0;
                line-height: 1.05;
            }
        }
    }
}

.pink {
    background: radial-gradient(circle, $pink-gradient-c1 0%, $pink-gradient-c3 100%);
}

.orange {
    background: $background-light-beige;
}

.purple {
    background: radial-gradient(circle, $purple-gradient-c1 0%, $purple-gradient-c3 100%);
}
.none {
    background: none;
}

.section-container.full-width {
    width: 100vw;
    margin-left: calc(-50vw + 50%);

    .section-content {
        @include desktopTablet();
        width: 100%;
        margin: 0 auto;
        padding: 2rem 0;

        @media (min-width: 1200px) {
        width: 100%;
            padding: 4rem 0;
        }
    }
}