@import '../../../styles/globals.scss';

.sectionContainer {
    width: 100%;
    height: 100%;
    // min-height: 100dvh;
    overflow: hidden;

    .sectionInnerWrapper {
        position: relative;
        max-width: 1920px;
        margin: 0 auto;
    }

    .sectionUnderline {
        display: block;
        width: 20rem;
        height: 1px;
        @include primary-gradient;
        margin: 1rem auto 0;
    }

    .sectionHeader {
        margin-bottom: 2rem;
    }

    .sectionContent {
        @include desktopTablet();
        margin: 0 auto;
        padding: 2rem 1rem;

        @media (min-width: 1200px) {
            padding: 4rem 2rem;
        }

        h2 {
            opacity: 0;
        }

        p {
            opacity: 0;
            @media (min-width: 1200px) {
                font-size: $font-size-lg;
                margin: 1rem 0 0;
                line-height: 1.05;
            }
        }
    }
}

.pink {
    background: radial-gradient(circle, $pink-gradient-c1 0%, $pink-gradient-c3 100%);
}

.orange {
    background: $background-light-beige;
}

.purple {
    background: radial-gradient(circle, $purple-gradient-c1 0%, $purple-gradient-c3 100%);
}

.dark {
    background: radial-gradient(circle, $dark-gradient-c1 0%, $dark-gradient-c3 100%);
}

.none {
    background: none;
}

.sectionContainer.fullWidth {
    width: 100vw;

    .sectionContent {
        @include desktopTablet();
        width: 100%;
        margin: 0 auto;
        padding: 2rem 0;

        @media (min-width: 1200px) {
        width: 100%;
            padding: 4rem 0;
        }
    }
}