@import '../../../styles/globals.scss';

.section-container {
    min-height: 100dvh;

    .section-content {
        @include desktopTablet();
        margin: 0 auto;
        padding: 2rem 1rem;

        @media (min-width: 1200px) {
            padding: 4rem 2rem;
        }

        p {
            @media (min-width: 1200px) {
                font-size: $font-size-lg;
                margin: 1rem 0 0;
                line-height: 1.05;
            }
        }
    }
}

.pink {
    background: radial-gradient(circle, $pink-gradient-c1 0%, $pink-gradient-c3 100%);
}

.orange {
    background: radial-gradient(circle, $orange-gradient-c1 0%, $orange-gradient-c3 100%);
}

.purple {
    background: radial-gradient(circle, $purple-gradient-c1 0%, $purple-gradient-c3 100%);
}
.none {
    background: none;
}