.tarotCard {

    --borderRadius: 8px;

    width: 20rem;
    height: auto;
    aspect-ratio: 7 / 12;
    perspective: 1000px;
    position: relative;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        border-radius: var(--borderRadius);
    }

    &__front {
        --borderWidth: 2px;
        --marginSize: 1rem;
        position: absolute;
        width: calc(100% - (var(--marginSize)*2 + var(--borderWidth) * 2));
        height: calc(100% - (var(--marginSize)*2 + var(--borderWidth) * 2));
        backface-visibility: hidden;
        border-radius: var(--borderRadius);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: var(--borderWidth) solid rgba(255,255,255,0.6);
        margin: var(--marginSize);

        .tarotCard__icon {
            width: 80%;
            height: auto;
            margin-bottom: 1rem;
        }
    }

}
