@import '../../../styles/Globals.scss';

@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(14deg); }
    30% { transform: rotate(-8deg); }
    40% { transform: rotate(14deg); }
    50% { transform: rotate(-4deg); }
    60% { transform: rotate(10deg); }
    70% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.pageheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url('../../../assets/images/bg-pageheader.jpg');
    height: 100dvh;
    background-size: cover;

    .pageheader__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: $component-width;
        max-width: $component-max-width;

        .wave {
            display: inline-block;
            animation: wave-animation 3s;
            @include gradient-font();
        }

        .pageheader__profilepic {
            width: 190px;
            height: auto;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            overflow: hidden;
            border: 4px solid #fff;
            @include box-shadow();


            img {
                width: 175%;
                height: 175%;
                transform: translate(-25%, -2%);
                object-fit: cover;
            }
        }

        .pageheader__description {
            font-size: $font-size-md;
            @media screen and (min-width: 600px) {
                font-size: $font-size-lg;
            }
        }

        .pageheader__buttons {
            display: flex;
            gap: 1rem;
            margin-top: 1.5rem;
        }

        .pageheader__scrollindicator{
            position: absolute;
            bottom: 0;
            margin-top: 2rem;
            color: $primary-gradient-c2;
            animation: bounce 2s 3;
            svg {
                width: 32px;
                height: 32px;
            }
            @keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                    transform: translateY(0);
                }
                40% {
                    transform: translateY(-10px);
                }
                60% {
                    transform: translateY(-5px);
                }
            }
        }
    }

}