@import '../../../styles/Globals.scss';

.pageheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $background-light-beige;
    min-height: 100dvh;
    overflow-x: hidden;

    .pageheader__container {
        width: $component-max-width;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .pageheader__profilepic {
        position: relative;
        display: flex;
        justify-content: center;
        transform: translate(2.5rem, 1.5rem) scale(.8);
        flex: 1;

        @media (min-width: 600px) {
        transform: translate(1.5rem, 0);
        flex: 4;
        }

        &::before {
            content: '';
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background: #ffc38a;
            top: 6rem;
            left: 0%;
            filter: blur(3rem);
        }

        .pageheader__blob  {
            width: 375px;
            height: auto;
            aspect-ratio: 1/1;
            -webkit-mask-image: url('../../../assets/images/organic_blob_sprite.png');
            mask-image: url('../../../assets/images/organic_blob_sprite.png');
            -webkit-mask-size: 550%;
            mask-size: 550%;
            -webkit-mask-position: 36% 7%;
            mask-position: 36% 7%;

            transition: transform 100ms linear;
        }


        img {
            width: 125%;
            height: 125%;
            transform: translate(-15%, 3%);
            object-fit: cover;
        }

        .pageheader__blobOrnament {
            background: url('../../../assets/images/organic_blob_stroke_sprite.png');
            background-size: 200%;
            background-position: 0% 100%;
            width: 23rem;
            height: 23rem;
            display: block;
            position: absolute;
            top: 5rem;
            left: -3rem;


            transition: transform 100ms linear;
        }
    }

    .pageheader__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        @media (min-width: 600px) {
            flex: 6;
        }

        .wave {
            display: inline-block;
            width: 40px;
            height: auto;
            transform: scale(4.5) translate(5px, -5px);
            @include gradient-font();
        }

        .pageheader__description {
            font-size: $font-size-md;
            @media screen and (min-width: 600px) {
                font-size: $font-size-lg;
            }
        }

        .pageheader__buttons {
            display: flex;
            gap: 1rem;
            margin-top: 1.5rem;
        }

        .pageheader__scrollindicator{
            position: fixed;
            width: 100%;
            background-color: $background-light-beige;
            bottom: -1rem;
            margin-top: 2rem;
            padding-bottom: 1rem;
            color: $primary-gradient-c2;
            animation: bounce 2s 3;

            svg {
                width: 32px;
                height: 32px;
            }
            @keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                    transform: translateY(0);
                }
                40% {
                    transform: translateY(-10px);
                }
                60% {
                    transform: translateY(-5px);
                }
            }
        }
    }

}