@import '../../../styles/Globals.scss';

.pageheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $background-light-beige;
    min-height: 100dvh;
    overflow-x: hidden;

    .pageheader__container {
        width: $component-max-width;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .pageheader__profilepic {
        position: relative;
        display: flex;
        justify-content: center;
        transform: translate(2.5rem, 0);
        flex: 1;

        @media (min-width: 600px) {
        transform: translate(1.5rem, 0);
        flex: 4;
        }

        &::before {
            content: '';
            position: absolute;
            max-width: 100dvw;
            width: 300px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: #ffc38a;
            top: 0;
            left: 0%;
            filter: blur(3rem);
            transform: translate(-2.5rem, 0);

            @media (min-width: 600px) {
                top: 6rem;
                transform: translate(-1.5rem, 0);
            }

        }

        .pageheader__blob  {
            width: 16rem;
            height: auto;
            aspect-ratio: 1/1;
            -webkit-mask-image: url('../../../assets/images/organic_blob_sprite.png');
            mask-image: url('../../../assets/images/organic_blob_sprite.png');
            -webkit-mask-size: 550%;
            mask-size: 550%;
            -webkit-mask-position: 36% 7%;
            mask-position: 36% 7%;

            transition: transform 100ms linear;

            @media (min-width: 600px) {
                width: 375px;
            }
        }


        img {
            width: 125%;
            height: 125%;
            transform: translate(-15%, 3%);
            object-fit: cover;
        }

        .pageheader__blobOrnament {
            background: url('../../../assets/images/purple_organic_blob.png') no-repeat;
            background-size: contain;
            width: 16rem;
            aspect-ratio: 1/1;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-15%);
            transition: transform 100ms linear;

            @media (min-width: 600px) {
                width: 25rem;
            }
        }
    }

    .pageheader__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        @media (min-width: 600px) {
            flex: 6;
        }

        .wave {
            display: inline-block;
            width: 30px;
            height: auto;
            transform: scale(4.5) translate(5px, -5px);
            @include gradient-font();

            @media screen and (min-width: 600px) {
                width: 40px;
            }
        }

        .pageheader__description {
            font-size: $font-size-md;
            @media screen and (min-width: 600px) {
                font-size: $font-size-lg;
            }
        }

        .pageheader__buttons {
            display: flex;
            gap: 1rem;
            margin-top: 1.5rem;
        }
    }

    h1 {
        font-size: $font-size-3xl;
    }

    h3 {
        font-size: $font-size-lg;

        @media (min-width: 600px) {
            font-size: $font-size-lg;
        }
    }
}