@import '../../../styles/globals.scss';

.modal {
        position: fixed;
        width: 100dvw;
        height: 100dvh;
        left: 0;
        top: 0;
        background: #fff;
        z-index: 10;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow-y: auto;
        transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;


        .container {
            position: relative;
            width: 80%;
            margin: 5rem auto 0;
            overflow-y: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .textContent {
            padding: 3rem 2rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @media screen and (min-width: 600px) {
                width: 45%;
                padding: 2rem;
            }
        }

        .image {
            width: 50%;
            height: 80dvh;
            object-fit: contain;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: auto;
            height: 100%;
            object-fit: contain;
        }

        .close {
            position: absolute;
            background: none;
            border: none;
            top: 0;
            right: 0;
            font-size: 2.5rem;
            cursor: pointer;
            @include gradient-font;
            @media screen and (min-width: 600px) {
                top: 1rem;
                right: 2rem;
            }
        }
}

.modal--closed {
    transform: translateX(100dvw);
    pointer-events: none;
}

.modal--open {
    transform: translateX(0);
    pointer-events: auto;
}