@import '../../../styles/globals.scss';

.modal {
        position: fixed;
        width: 100dvw;
        height: 100dvh;
        left: 0;
        top: 0;
        background: #fff;
        z-index: 10;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow-y: auto;
        transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;

        .container {
            position: relative;
            width: 80%;
            margin: 5rem auto 0;
            overflow-y: auto;
        }

        .close {
            position: absolute;
            top: 1rem;
            right: 2rem;
            background: none;
            border: none;
            font-size: 2.5rem;
            cursor: pointer;
            @include gradient-font;
        }
}

.modal--closed {
    transform: translateX(100dvw);
    pointer-events: none;
}

.modal--open {
    transform: translateX(0);
    pointer-events: auto;
}