/* App.css */
@import './globals.scss';

body {
    margin: 0;
    font-family: 'Montserrat', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

.App-link {
    color: #61dafb;
}

h1 {
    font-size: 3.5rem;
    margin: .75rem 0 0;
    font-weight: 800;

    background: #6a00ff;
    background: -webkit-linear-gradient(90deg, rgba(106, 0, 255, 1) 0%, rgba(155, 28, 201, 1) 51%, rgba(199, 22, 166, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(106, 0, 255, 1) 0%, rgba(155, 28, 201, 1) 51%, rgba(199, 22, 166, 1) 100%);
    background: linear-gradient(90deg, rgba(106, 0, 255, 1) 0%, rgba(155, 28, 201, 1) 51%, rgba(199, 22, 166, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6A00FF", endColorstr="#C716A6", GradientType=1);

    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 2rem;
    margin: 10px 0;
    font-weight: 600;
    color: #333;
}

.invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}