@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Define component width variables
$component-width: 728px;
$component-max-width: 90vw;

$background-light-beige: #ffead6;
$background-light-lilac: #ead6ff;

// Define colors and default angle
$primary-gradient-c1: #6A00FF;
$primary-gradient-c2: #9c2dc4;
$primary-gradient-c3: #C716A6;
$primary-gradient-angle: 107deg;

$pink-gradient-c1: #ffbbbd;
$pink-gradient-c3: #ffeff7;

$orange-gradient-c1: #ff9966;
$orange-gradient-c3: #ffc1c2;

$purple-gradient-c1: #a18cd1;
$purple-gradient-c3: #cda9f3;

$dark-gradient-c1: #8c9ad1;
$dark-gradient-c3: #a19ed8;

// Define fontsizes
$font-size-base: 16px;
$font-size-smaller: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2rem;
$font-size-3xl: 2.5rem;
$font-size-4xl: 3.5rem;

$gradient: linear-gradient(107deg, $primary-gradient-c1 0%, $primary-gradient-c2 45%, $primary-gradient-c3 100%);

// Mixin you can @include wherever you need this background
@mixin primary-gradient($angle: $primary-gradient-angle, $c1: $primary-gradient-c1, $c2: $primary-gradient-c2, $c3: $primary-gradient-c3) {
    background: $c1;
    background: -webkit-linear-gradient($angle, $c1 0%, $c2 45%, $c3 100%);
    background: -moz-linear-gradient($angle, $c1 0%, $c2 45%, $c3 100%);
    background: linear-gradient($angle, $c1 0%, $c2 45%, $c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$c1}", endColorstr="#{$c3}", GradientType=1);
}

@mixin gradient-font($angle: $primary-gradient-angle, $c1: $primary-gradient-c1, $c2: $primary-gradient-c2, $c3: $primary-gradient-c3) {
    @include primary-gradient($angle, $c1, $c2, $c3);

    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin box-shadow() {
    -webkit-box-shadow: 0px 20px 25px -5px rgba(0,0,0,0.2);
    box-shadow: 0px 20px 25px -5px rgba(0,0,0,0.2);
}

@mixin desktopTablet {
    @media screen and (min-width: 600px) {
        min-width: 580px;
        width: 80%;
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-bottom: 4rem;
    }
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    src: local('Montserrat'), local('Montserrat-Regular');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 900;
    src: local('Montserrat Italic'), local('Montserrat-Italic');
    font-display: swap;
}


h1 {
    font-size: $font-size-3xl;
    font-weight: 800;
    margin: 0;
    @include gradient-font();

    @media (min-width: 600px) {
        font-size: $font-size-4xl;
        margin: .75rem 0 0;
    }
}

h2 {
    font-size: $font-size-2xl;
    margin: 10px 0;
    font-weight: 700;
    @include gradient-font();


    @media (min-width: 600px) {
        font-size: $font-size-xl;
        margin: 0.5rem 0 0;
        line-height: 1.1;
    }

    @media screen and (min-width: 600px) {
        font-size: $font-size-2xl;
    }
}

h3 {
    font-size: $font-size-xl;
    margin: 10px 0;
    font-weight: 600;
    color: #333;

    @media (min-width: 600px) {
        font-size: $font-size-lg;
        margin: 1rem 0 0;
        line-height: 1.05;
    }
}

.invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.my-story-container {
    @media screen and (min-width: 600px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;

        > * {
            flex: 1;
        }
    }

    @media screen and (min-width: 1200px) {
        > *:last-child {
            flex-grow: 1.3
        }
    }
}

#scroll-indicator {
    @include primary-gradient();
}