@import '../../../styles/Globals.scss';

.teaser {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.teaser img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.teaser h3 {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: 0;
    opacity: 0;
}

.teaser__button {
    position: absolute;
    bottom: 20dvh;
    right: 1rem;
    opacity: 0;
}

.background-purple {
    background: radial-gradient(circle, $purple-gradient-c1 0%, $purple-gradient-c3 100%);
}