@import '../../../styles/Globals.scss';

.teaser {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.teaser img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.teaser video {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 39 / 70;

    @media screen and (min-width: 600px) {
        aspect-ratio: 19 / 10;
        max-width: 1920px;
        max-height: 1080px;
    }
}

.teaser h3 {
    font-size: 2rem;
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 80%;
    text-align: left;
    margin: 0;
    opacity: 0;
    @media screen and (min-width: 600px) {
        top: 3rem;
        width: auto;
        text-align: center;
        font-size: 3rem;
        top: 14rem;
    }

}

.teaser__button {
    position: absolute;
    bottom: -5dvh;
    right: 0;
    opacity: 0;

    @media screen and (min-width: 600px) {
        bottom: 15dvh;
    }

    * {
        font-size: 200%;
        @media screen and (min-width: 600px) {
            font-size: 300%;
        }
    }
}

// .background-purple {
//     background: radial-gradient(circle, $purple-gradient-c1 0%, $purple-gradient-c3 100%);
// }