@import '../../../styles/Globals.scss';

.teaser {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.teaser img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.teaser video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.teaser h3 {
    font-size: 2.5rem;
    position: absolute;
    top: 3rem;
    left: 0rem;
    margin: 0;
    opacity: 0;
    @media screen and (min-width: 600px) {
        font-size: 3rem;
        top: 14rem;
    }

}

.teaser__button {
    position: absolute;
    bottom: -2dvh;
    right: 0;
    opacity: 0;

    @media screen and (min-width: 600px) {
        bottom: 15dvh;
    }

    * {
        font-size: 200%;
        @media screen and (min-width: 600px) {
            font-size: 300%;
        }
    }
}

// .background-purple {
//     background: radial-gradient(circle, $purple-gradient-c1 0%, $purple-gradient-c3 100%);
// }