@import '../../../styles/Globals.scss';

.teaser {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.teaser img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.teaser h3 {
    font-size: 3rem;
    position: absolute;
    top: 18rem;
    left: 0rem;
    margin: 0;
    opacity: 0;
}

.teaser__button {
    position: absolute;
    bottom: 5dvh;
    right: 1rem;
    opacity: 0;

    * {
        font-size: 200%;
        @media screen and (min-width: 600px) {
            font-size: 300%;
        }
    }
}

// .background-purple {
//     background: radial-gradient(circle, $purple-gradient-c1 0%, $purple-gradient-c3 100%);
// }