.badgeCloud {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;

    @media (min-width: 600px) {
        gap: 1rem;
    }
}