@import '../../../styles/globals.scss';

.animateText {
    font-size: 1.3rem;
    width: 90%;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.3;
    font-weight: 600;
    text-align: center;
    margin: 3rem auto 6rem;

    @media (min-width: 600px) {
        font-size: 2rem;
        width: 80%;
        line-height: 1.4;
    }
}
