@import '../../../styles/Globals.scss';

.badge {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: $font-size-lg;
    font-weight: 600;
    background-color: transparent;
    border-radius: 100rem;
    border: 1px solid #000;

    @media (min-width: 1200px) {
        font-size: $font-size-2xl;
        padding: 1rem 3rem;
    }
}