.cursorDot,
.cursorOrb {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
}

.cursorDot {
    width: 10px;
    height: 12px;
    background-color: white;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
}


// hide default cursor
body *:hover {
    cursor: none;
}

.cursorOrb {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
}


// Hover state
.cursorOrb.hovering {
    width: 80px;
    height: 80px;
    background-color: white;
}

.cursorDot.hovering {
    display: none;
}
