@import '../../../styles/globals.scss';

.lottieContainer {
    max-width: 100%;
    max-height: 100%;
}

.storyboxItemContainer {
    // Add your styles here
    @media screen and (min-width: 600px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}

.storyboxItem {
    // Add your styles here
    @media screen and (min-width: 600px) {
        width: 30%;
    }
}
