@import '../../../styles/Globals.scss';

.tarotCards {
    height: 100dvh;

    .tarotCardsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        .tarotCardNameList {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 50%;

            li {
                margin-bottom: 1rem;
                text-align: left;
                font-size: 2rem;
            }
        }
    }

    .fill {
        width: 2px;
        background-color: $primary-gradient-c2;
        height: 100%;
    }

    .tarotCardSide {
        position: relative;
        width: 20rem;
        height: auto;
        aspect-ratio: 7 / 12;
        perspective: 1000px;
    }

    .tarotCardWrapper {
        position: absolute;
        top: 0;
        left: 0;
        visibility: visible;
    }
}