@import '../../../styles/Globals.scss';

.tarotCards {
    height: 100dvh;

    .tarotCardsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .tarotCardNameList {
            list-style: none;
            padding: 0;
            margin: 0;
            opacity: 0;
            height: 0;
            width: 0;

            @media screen and (min-width: 600px) {
                width: 35%;
                opacity: 1;
            }

            li {
                margin-bottom: 1rem;
                text-align: left;
                font-size: 2rem;
            }
        }
    }

    .tarotCardSide {
        position: relative;
        width: 20rem;
        height: auto;
        aspect-ratio: 7 / 12;
        perspective: 1000px;
    }

    .tarotCardWrapper {
        position: absolute;
        top: 0;
        left: 0;
        visibility: visible;
    }
}