.tarotCardsContainer {
    height: 100dvh;

    .tarotCards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        .tarotCardList {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 50%;

            li {
                margin-bottom: 1rem;
                text-align: left;
                font-size: 2rem;
            }
        }
    }

    .fill {
        width: 2px;
        height: 100%;
        background-color: var(--color-shockingly-green);
    }

    .tarotCardSide {
        position: relative;
        width: 20rem;
        height: auto;
        aspect-ratio: 7 / 12;
    }

    .tarotCardWrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        visibility: hidden;
        opacity: 0;
    }
}